@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .header-content {
        padding: 1.5rem 0;
    }

    #menu {
        display: none;
    }

    nav {
        display: flex; 
        flex-direction: row; 
    }

    nav a {
        display: block; 
        padding: 1.5rem 1rem;
        font-size: 1.1rem;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    figure {
        max-width: 100%;
    }
}